<h1>Who do you want to know about?</h1>

<p>
  {{view EmberStore.NameField action='showInfo'}}
</p>

{{#if person}}
  <h3>
    Here's some info about {{person.first_name}} {{person.last_name}}:
  </h3>

  <dl>
    <dt>Age:</dt>
    <dd>{{person.age}}</dd>
    <dt>Job Title:</dt>
    <dd>{{person.job_title}}</dd>
  </dl>
{{/if}}